<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
        <script src="/socket.io/socket.io.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
        <script type="text/javascript" src="js/client.js"></script>

  </head>
  <body>

  <h1>socket.ioのサンプルプログラム</h1>
  <div id="enter">
    <div id="enterform">
      <input type="text" id="entertext">
      <button id="enterbtn">入室</button>
    </div>
  </div>
  <br>
  <div id="chatform">
  <input type="text" id="message" value="">
  <button>メッセージをそうしん</button>
  <input type="button" value="切断する" onclick="DisConnect()">
  <div id="receiveMsg"></div>
  </div>
  </body>
</html>