<!doctype html>
<html>
  <head>
    <title>Log In</title>
  </head>
  <body>
    <form method="POST" action="/login">
      userid:<input type="text" name="userid">
      <input type="submit" value="ログイン">
    </form>
  </body>

</html>