<<<<<<< HEAD
<!doctype html>
<html>
  <head>
    <title>Log In</title>
  </head>
  <body>
    <form method="POST" action="/login">
      userid:<input type="text" name="userid">
    </form>
  </body>
=======
<!doctype html>
<html>
  <head>
    <title>Log In</title>
  </head>
  <body>
    <form method="POST" action="/login">
      userid:<input type="text" name="userid">
    </form>
  </body>
>>>>>>> こうしん
</html>