* {
font-family: "メイリオ",sans-serif;
}

a {
    color: #00B7FF;
}
body {
    width: 99%
}

#enterform {
    background-color: #ffffff;
    width: 500px;
    height: 100px;
    top: 50px;
}
#enterform input{
    width: 470px;
    font-size: 30px;
}

#textarea {
    border-radius: 4px;
    width: 700px

}
button {
    border-radius: 4px;
    background-color: #0099cc;
}

.chatnaiyou {
    background-color: #ffffff;
    margin: 5px;
    padding: 5px 5px 3px;
    border-radius: 5px;
}
.chatnaiyou .num {
    margin-left: 10px;
}
.chatnaiyou .userid {
    font-weight: bold;
    border-radius: 5px;
    background-color: #00ccff;
}
.chatnaiyou .date {
    float: right;
    border-radius: 5px;
    background-color: #00ccff;
}
.chatnaiyou .message{
    background-color: #00bbff;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
}
#status {
    width: 300px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    background-color: #0077dd;
    padding: 15px;
    position: absolute;
    left: 210px;
    top: -50px;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
    z-index: 101;
}

#userlist li {
    
}
#menucolumn {
    z-index: 20;
    width: 15%;
    height: 100%;
    background-color: #ff9900;
    position: absolute;
    top: 0;
    left: 0;
}
#maincolumn {
    margin-left: 15%;
    width: 84%;
    height: 100%;
    padding: 0px;
}
#tabs {
    height: 100%;
    width: 100%;
}